.navbar {
  background: #d83616;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.nav_brand {
  font-weight: 600;
}
.nav_links {
  font-size: 14px;
}
.nav {
  margin-left: auto;
  margin-right: 6rem;
}

.nav_links::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #fff;
  display: block;
  transition: width 0.5s ease;
}
.nav_links:hover::after {
  width: 100%;
}
@media (max-width: 770px) {
  .nav_links:hover::after {
    width: 30%;
  }
}
